# Subject: Joining Data

## Jose Servin

### Data used: https://www.chicago.gov/city/en/depts/other/dataset/wards.html

In [61]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px

# Importing data and DF definition

In [62]:
wards = pd.read_csv('/Users/joseservin/DataCamp/Courses/Joining_Data/Ward_Offices.csv')
wards = wards[['WARD', 'ALDERMAN', 'ADDRESS','ZIPCODE']].copy()
wards.columns = [x.lower() for x in wards.columns]
wards.head()

,ward,alderman,address,zipcode
0,33,"Rodriguez Sanchez, Rossana",3001 West Irving Park Road,60618
1,17,"Moore, David H.",1344 West 79th Street,60636
2,44,"Tunney, Thomas","3223 North Sheffield Avenue, Suite A",60657
3,37,"Mitts, Emma",5344 West North Avenue,60651
4,4,"King, Sophia D.",435 East 35th Street,60616

In [63]:
wards.dtypes

ward         int64
alderman    object
address     object
zipcode      int64
dtype: object

In [64]:
census = pd.read_csv('/Users/joseservin/DataCamp/Courses/Joining_Data/ward_population.csv')
census.head()

   ward pop_2010 pop_2016 pct_change                      address  zip_code
0     1   56,149   56,661         1%  1958 North Milwaukee Avenue     60647
1     2   55,805   57,705         3%    1400 North Ashland Avenue     60622
2     3   53,039   55,763         5%      5046 South State Street     60609
3     4   54,589   57,301         5%         435 East 35th Street     60616
4     5   51,455   52,073         1%        2325 East 71st Street     60649

In [65]:
census.dtypes

ward           int64
pop_2010      object
pop_2016      object
pct_change    object
address       object
zip_code       int64
dtype: object

In [66]:
census['ward'] = census['ward'].astype(int)

In [67]:
census.dtypes

ward           int64
pop_2010      object
pop_2016      object
pct_change    object
address       object
zip_code       int64
dtype: object

In [68]:
census['pop_2010'] = census['pop_2010'].apply(lambda x: int(x.split()[0].replace(',', '')))

In [69]:
census.dtypes

ward           int64
pop_2010       int64
pop_2016      object
pct_change    object
address       object
zip_code       int64
dtype: object

In [70]:
census['pop_2016'] = census['pop_2016'].apply(lambda x: int(x.split()[0].replace(',', '')))

In [71]:
census.dtypes

ward           int64
pop_2010       int64
pop_2016       int64
pct_change    object
address       object
zip_code       int64
dtype: object

In [72]:
census['pct_change'] = census['pct_change'].str.rstrip('%').astype('float') / 100.0

In [73]:
census.dtypes

ward            int64
pop_2010        int64
pop_2016        int64
pct_change    float64
address        object
zip_code        int64
dtype: object

In [74]:
census.head()

   ward  pop_2010  pop_2016  pct_change                      address  zip_code
0     1     56149     56661        0.01  1958 North Milwaukee Avenue     60647
1     2     55805     57705        0.03    1400 North Ashland Avenue     60622
2     3     53039     55763        0.05      5046 South State Street     60609
3     4     54589     57301        0.05         435 East 35th Street     60616
4     5     51455     52073        0.01        2325 East 71st Street     60649

In [75]:
wards.dtypes

ward         int64
alderman    object
address     object
zipcode      int64
dtype: object

In [76]:
wards.head()

,ward,alderman,address,zipcode
0,33,"Rodriguez Sanchez, Rossana",3001 West Irving Park Road,60618
1,17,"Moore, David H.",1344 West 79th Street,60636
2,44,"Tunney, Thomas","3223 North Sheffield Avenue, Suite A",60657
3,37,"Mitts, Emma",5344 West North Avenue,60651
4,4,"King, Sophia D.",435 East 35th Street,60616

# Inner Join: only returns matching values in both tables

In [77]:
wards_census  = wards.merge(census, on='ward', suffixes=('_ward','_cens'))
wards_census.head()

,ward,alderman,address_ward,zipcode,pop_2010,pop_2016,pct_change,address_cens,zip_code
0,33,"Rodriguez Sanchez, Rossana",3001 West Irving Park Road,60618,55598,56121,0.01,3001 West Irving Park Road,60618
1,17,"Moore, David H.",1344 West 79th Street,60636,51846,49271,-0.05,1344 West 79th Street,60636
2,44,"Tunney, Thomas","3223 North Sheffield Avenue, Suite A",60657,56058,59871,0.07,"3223 North Sheffield Avenue, Suite A",60657
3,37,"Mitts, Emma",5344 West North Avenue,60651,51538,51178,-0.01,5344 West North Avenue,60651
4,4,"King, Sophia D.",435 East 35th Street,60616,54589,57301,0.05,435 East 35th Street,60616

In [78]:
wards_census.shape

(50, 9)

In [79]:
# value_counts() of zipcodes in wards_census DF
wards_census['zipcode'].value_counts()

60618    3
60609    3
60628    2
60639    2
60636    2
60608    2
60622    2
60612    2
60630    2
60659    2
60614    2
60640    2
60617    2
60619    2
60643    1
60626    1
60647    1
60629    1
60621    1
60649    1
60634    1
60631    1
60632    1
60623    1
60652    1
60607    1
60602    1
60624    1
60620    1
60641    1
60616    1
60651    1
60657    1
60638    1
Name: zipcode, dtype: int64

# One-to-Many Relationships

In [80]:
# Import Buiness_Licenses csv containing active businesses in each ward
wards_businesses = pd.read_csv('/Users/joseservin/DataCamp/Courses/Joining_Data/Business_Licenses.csv')
wards_businesses.columns

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Index(['ID', 'LICENSE ID', 'ACCOUNT NUMBER', 'SITE NUMBER', 'LEGAL NAME',
       'DOING BUSINESS AS NAME', 'ADDRESS', 'CITY', 'STATE', 'ZIP CODE',
       'WARD', 'PRECINCT', 'WARD PRECINCT', 'POLICE DISTRICT', 'LICENSE CODE',
       'LICENSE DESCRIPTION', 'BUSINESS ACTIVITY ID', 'BUSINESS ACTIVITY',
       'LICENSE NUMBER', 'APPLICATION TYPE', 'APPLICATION CREATED DATE',
       'APPLICATION REQUIREMENTS COMPLETE', 'PAYMENT DATE',
       'CONDITIONAL APPROVAL', 'LICENSE TERM START DATE',
       'LICENSE TERM EXPIRATION DATE', 'LICENSE APPROVED FOR ISSUANCE',
       'DATE ISSUED', 'LICENSE STATUS', 'LICENSE STATUS CHANGE DATE', 'SSA',
       'LATITUDE', 'LONGITUDE', 'LOCATION'],
      dtype='object')

In [81]:
wards_businesses = wards_businesses[['ACCOUNT NUMBER','WARD','LICENSE NUMBER','LEGAL NAME','ADDRESS','ZIP CODE']]

In [82]:
wards_businesses.columns = [x.lower() for x in wards_businesses.columns]
wards_businesses.head()

,account number,ward,license number,legal name,address,zip code
0,406944,42.0,2818099,"GERMAN AMERICAN EVENTS, LLC",150 N MICHIGAN AVE 35TH,60601
1,337918,42.0,2818166,THE NOBLE GRAPE CORPORATION,50 W WASHINGTON ST,60602
2,385905,44.0,2822280,Patrick Markham,3252 N BROADWAY,60657
3,385905,47.0,2822276,Patrick Markham,4560 N LINCOLN AVE,60625
4,385905,1.0,2822277,Patrick Markham,2439 W FULLERTON AVE,60647

In [83]:
wards_businesses.isna().sum()

account number       0
ward              4313
license number       0
legal name           0
address              0
zip code             7
dtype: int64

In [84]:
wards_businesses = wards_businesses[wards_businesses['ward'].notna()]

In [85]:
wards_businesses.isna().sum()

account number    0
ward              0
license number    0
legal name        0
address           0
zip code          1
dtype: int64

In [88]:
wards_businesses = wards_businesses[wards_businesses['license number'].notna()]

In [89]:
wards_businesses.isna().sum()

account number    0
ward              0
license number    0
legal name        0
address           0
zip code          1
dtype: int64

In [90]:
wards_businesses = wards_businesses[wards_businesses['zip code'].notna()]

In [91]:
wards_businesses.isna().sum()

account number    0
ward              0
license number    0
legal name        0
address           0
zip code          0
dtype: int64

In [92]:
wards_businesses['ward'] = wards_businesses['ward'].astype(int)

In [93]:
wards_businesses['zip code'] = wards_businesses['zip code'].astype(int)

In [94]:
wards_businesses.dtypes

account number     int64
ward               int64
license number     int64
legal name        object
address           object
zip code           int64
dtype: object

In [95]:
wards_businesses.shape

(50720, 6)

In [96]:
wards_businesses_merge = wards.merge(wards_businesses, on='ward', suffixes=('_wards','_buissiness'))

In [99]:
wards_businesses_merge.sort_values('ward')

,ward,alderman,address_wards,zipcode,account number,license number,legal name,address_buissiness,zip code
33052,1,"La Spata, Daniel",1958 North Milwaukee Avenue,60647,286789,1741804,"THE GREEN ROOM, INC",1915 W CHICAGO AVE 1 1F,60622
33758,1,"La Spata, Daniel",1958 North Milwaukee Avenue,60647,25756,7932,"SHILVOCK COMPANY, INC.",2226 N MILWAUKEE AVE 1ST,60647
33759,1,"La Spata, Daniel",1958 North Milwaukee Avenue,60647,340581,1954909,THOMAS ROBINSON,2416 W NORTH AVE 1,60647
33760,1,"La Spata, Daniel",1958 North Milwaukee Avenue,60647,334474,2078720,"REVOLUTION BREWING, LLC",2323 N MILWAUKEE AVE 1 & 2,60647
33761,1,"La Spata, Daniel",1958 North Milwaukee Avenue,60647,260219,2206206,"RANDEL ELECTRIC , INC.",2307 W NORTH AVE,60647
...,...,...,...,...,...,...,...,...,...
37171,50,"Silverstein, Debra L.",2949 West Devon Avenue,60659,427110,2595253,"Andhra Darbar, Inc",2240-2242 W DEVON AVE,60659
37172,50,"Silverstein, Debra L.",2949 West Devon Avenue,60659,373220,2158657,SHAMA ONE INC.,2504 W DEVON AVE 1ST,60659
37173,50,"Silverstein, Debra L.",2949 West Devon Avenue,60659,408547,2583245,MUJIDAT OLAIDE LAWAL,7441 N WESTERN AVE 1ST,60645
37175,50,"Silverstein, Debra L.",2949 West Devon Avenue,60659,419728,2549651,IRINA MOTAESCU,[REDACTED FOR PRIVACY],60645
37656,50,"Silverstein, Debra L.",2949 West Devon Avenue,60659,284056,1545187,DIPTIS SALON INC,2714 W TOUHY AVE,60645

In [102]:
wards_businesses.to_csv('/Users/joseservin/DataCamp/Courses/Joining_Data/ward_businesses.csv', index=False)

# Mergin Multiple DataFrames

In [103]:
# Introduce business_grants DataFrame
business_grants = pd.read_csv('/Users/joseservin/DataCamp/Courses/Joining_Data/business_grants.csv')
business_grants.columns

Index(['address', 'zip code', 'INCENTIVE AMOUNT', 'grant', 'company'], dtype='object')

In [104]:
business_grants = business_grants[['address','zip code','grant','company']]

In [107]:
wards_businesses.columns

Index(['account number', 'ward', 'license number', 'legal name', 'address',
       'zip code'],
      dtype='object')

In [113]:
wards.columns

Index(['ward', 'alderman', 'address', 'zipcode'], dtype='object')

In [106]:
business_grants.merge(wards_businesses, on=['address','zip code'])

,address,zip code,grant,company,account number,ward,license number,legal name
0,150 N MICHIGAN AVE 35TH,60601,150000.00000,"GERMAN AMERICAN EVENTS, LLC",406944,42,2818099,"GERMAN AMERICAN EVENTS, LLC"
1,150 N MICHIGAN AVE 35TH,60601,150000.00000,"GERMAN AMERICAN EVENTS, LLC",406944,42,2818216,"GERMAN AMERICAN EVENTS, LLC"
2,150 N MICHIGAN AVE 35TH,60601,117072.04000,"GERMAN AMERICAN EVENTS, LLC",406944,42,2818099,"GERMAN AMERICAN EVENTS, LLC"
3,150 N MICHIGAN AVE 35TH,60601,117072.04000,"GERMAN AMERICAN EVENTS, LLC",406944,42,2818216,"GERMAN AMERICAN EVENTS, LLC"
4,50 W WASHINGTON ST,60602,150000.00000,THE NOBLE GRAPE CORPORATION,337918,42,2818166,THE NOBLE GRAPE CORPORATION
...,...,...,...,...,...,...,...,...
134721,2700 W 25TH ST,60608,34330.12719,STOP & SAVE SHOP INC,481467,12,2822708,STOP & SAVE SHOP INC
134722,141 W JACKSON BLVD A50,60604,34332.07524,SALON MAJ CORPORATION,478274,42,2807862,SALON MAJ CORPORATION
134723,6700 S SOUTH SHORE DR 21B,60649,34339.86744,"Estrela Enterprises, LLC",482147,5,2827368,"Estrela Enterprises, LLC"
134724,3950 N LAKE SHORE DR 928,60613,34351.55575,XIQIAO XU,296732,46,2822426,XIQIAO XU
134725,1803 W 47TH ST STOREFRONT,60609,34928.17869,PEDRO DIAZ,388548,15,2827230,PEDRO DIAZ

In [114]:
grants_licenses_ward = business_grants.merge(wards_businesses, on=['address','zip code']) \
    .merge(wards, on='ward', suffixes = ('_bus','_ward'))

In [115]:
grants_licenses_ward.head()

,address_bus,zip code,grant,company,account number,ward,license number,legal name,alderman,address_ward,zipcode
0,150 N MICHIGAN AVE 35TH,60601,150000.00,"GERMAN AMERICAN EVENTS, LLC",406944,42,2818099,"GERMAN AMERICAN EVENTS, LLC","Reilly, Brendan",121 N LaSalle St,60602
1,150 N MICHIGAN AVE 35TH,60601,150000.00,"GERMAN AMERICAN EVENTS, LLC",406944,42,2818216,"GERMAN AMERICAN EVENTS, LLC","Reilly, Brendan",121 N LaSalle St,60602
2,150 N MICHIGAN AVE 35TH,60601,117072.04,"GERMAN AMERICAN EVENTS, LLC",406944,42,2818099,"GERMAN AMERICAN EVENTS, LLC","Reilly, Brendan",121 N LaSalle St,60602
3,150 N MICHIGAN AVE 35TH,60601,117072.04,"GERMAN AMERICAN EVENTS, LLC",406944,42,2818216,"GERMAN AMERICAN EVENTS, LLC","Reilly, Brendan",121 N LaSalle St,60602
4,50 W WASHINGTON ST,60602,150000.00,THE NOBLE GRAPE CORPORATION,337918,42,2818166,THE NOBLE GRAPE CORPORATION,"Reilly, Brendan",121 N LaSalle St,60602

In [ ]:
grants_licenses_ward.groupby('ward').agg('sum').plot(kind='bar')

#### 
df1.merge(df2, on'col') \ 
    .merge(df3, on'col')