# Importing flat files from the web

In [38]:
import pandas as pd
from urllib.request import urlretrieve, urlopen, Request
import numpy as np
import requests

## The urllib package
* Provides interface for fetching data across the web
* urlopen() - accepts URL's instead of file names

In [39]:
url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-white.csv'
urlretrieve(url, 'winequality-white.csv')

('winequality-white.csv', <http.client.HTTPMessage at 0x7fdb777742e0>)

In [40]:
df = pd.read_csv('winequality-white.csv', sep=';')
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

## Importing files from web without saving locally

In [41]:
url  = 'http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv'
df_not_saved_locally = pd.read_csv(url, sep= ';')
df_not_saved_locally.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

## Importing non-flat files from the web

In [42]:
url = 'http://s3.amazonaws.com/assets.datacamp.com/course/importing_data_into_r/latitude.xls'
xls = pd.read_excel(url, sheet_name=None)
xls.keys()

dict_keys(['1700', '1900'])

In [43]:
xls['1700'].head()

                 country       1700
0            Afghanistan  34.565000
1  Akrotiri and Dhekelia  34.616667
2                Albania  41.312000
3                Algeria  36.720000
4         American Samoa -14.307000

# HTTP request to import files from the web

## GET requests using urllib

In [45]:
url = 'https://www.wikipedia.org/'
request = Request(url) # Package GET request using Request function
response = urlopen(request) # send GET request and catch response using urlopen(); returns HTTP response object which has a read method
html = response.read() # apply read() method to response to get html as string
response.close() # close response

## GET requests using Requests package

In [ ]:
url = 'https://www.wikipedia.org/'
r = requests.get(url) # package request, send request and catch response with a single function
text = r.text # returns HTML as string by applying .text method