In [1]:
import pandas as pd

# User-defined Functions

In [2]:
# simple function returning set variable 
def square ():
    value = 4 ** 2
    print(value)
square()

16

## Function Parameters

In [3]:
def square(number):
    var = number ** 2
    print(var)

square(8)

64

## Return values from functions

In [4]:
def square(num):
    """ A simple function that squares the given num and returns value"""
    var = num ** 2
    return var

answer = square(3)
print(answer)

9

# Multiple Parameters and Return Values

In [5]:
def raise_to_power (val_1, val_2):
    """ Simple function that prints val_1 ** val_2"""
    answer = val_1 ** val_2
    print(answer)

raise_to_power(4,2)

16

## Returning a Tuple

In [6]:
def raise_both(val_1, val_2):
    """ raise val_1 to the power of val_2 and vice-versa"""

    answer_1 =  val_1 ** val_2
    answer_2 = val_2 ** val_1

    return_tuple =  (answer_1, answer_2)

    return (return_tuple)

return_var = raise_both(3,2)
print(return_var)

(9, 8)

### different return variable for each element in the tuple

In [7]:
def raise_both(val_1, val_2):
    """ raise val_1 to the power of val_2 and vice-versa"""

    answer_1 =  val_1 ** val_2
    answer_2 = val_2 ** val_1

    return_tuple =  (answer_1, answer_2)

    return (return_tuple)

var1, var2 = raise_both(3,2)
print(var1)
print(var2)

9
8

# Twitter Data Analysis Part 1

* Load the data and develop functionalities to extract simple insights from the data
* The dataset contains Twitter data and you will iterate over entries in a column to build a dictionary in which the keys are the names of languages and the values are the number of tweets in the given language.

In [8]:
# Import data 
tweets = pd.read_csv('/Users/joseservin/DataCamp/Courses/Python_Toolbox/tweets.csv')

In [33]:
tweets.shape

(100, 31)

In [34]:
tweets.columns

Index(['contributors', 'coordinates', 'created_at', 'entities',
       'extended_entities', 'favorite_count', 'favorited', 'filter_level',
       'geo', 'id', 'id_str', 'in_reply_to_screen_name',
       'in_reply_to_status_id', 'in_reply_to_status_id_str',
       'in_reply_to_user_id', 'in_reply_to_user_id_str', 'is_quote_status',
       'lang', 'place', 'possibly_sensitive', 'quoted_status',
       'quoted_status_id', 'quoted_status_id_str', 'retweet_count',
       'retweeted', 'retweeted_status', 'source', 'text', 'timestamp_ms',
       'truncated', 'user'],
      dtype='object')

In [9]:
tweets.head()

,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,filter_level,geo,id,...,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,text,timestamp_ms,truncated,user
0,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [{'screen_na...","{'media': [{'sizes': {'large': {'w': 1024, 'h'...",0,False,low,NaN,714960401759387648,...,NaN,NaN,0,False,"{'retweeted': False, 'text': "".@krollbondratin...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @bpolitics: .@krollbondrating's Christopher...,1459294817758,False,"{'utc_offset': 3600, 'profile_image_url_https'..."
1,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [{'text': 'cruzsexscandal', 'indi...","{'media': [{'sizes': {'large': {'w': 500, 'h':...",0,False,low,NaN,714960401977319424,...,NaN,NaN,0,False,"{'retweeted': False, 'text': '@dmartosko Cruz ...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @HeidiAlpine: @dmartosko Cruz video found.....,1459294817810,False,"{'utc_offset': None, 'profile_image_url_https'..."
2,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [], 'symbols...",NaN,0,False,low,NaN,714960402426236928,...,NaN,NaN,0,False,NaN,"<a href=""http://www.facebook.com/twitter"" rel=...",Njihuni me Zonjën Trump !!! | Ekskluzive https...,1459294817917,False,"{'utc_offset': 7200, 'profile_image_url_https'..."
3,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [], 'symbols...",NaN,0,False,low,NaN,714960402367561730,...,7.149239e+17,7.149239e+17,0,False,NaN,"<a href=""http://twitter.com/download/android"" ...",Your an idiot she shouldn't have tried to grab...,1459294817903,False,"{'utc_offset': None, 'profile_image_url_https'..."
4,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [{'screen_na...",NaN,0,False,low,NaN,714960402149416960,...,NaN,NaN,0,False,"{'retweeted': False, 'text': 'The anti-America...","<a href=""http://twitter.com/download/iphone"" r...",RT @AlanLohner: The anti-American D.C. elites ...,1459294817851,False,"{'utc_offset': -18000, 'profile_image_url_http..."

* Import the pandas package with the alias pd.
* Import the file 'tweets.csv' using the pandas function read_csv(). Assign the resulting DataFrame to df.
* Complete the for loop by iterating over col, the 'lang' column in the DataFrame df.
* Complete the bodies of the if-else statements in the for loop: if the key is in the dictionary langs_count, add 1 to the value corresponding to this key in the dictionary, else add the key to langs_count and set the corresponding value to 1. Use the loop variable entry in your code.

In [10]:
# Initialize an empty dictionary 
langs_count = {}

In [11]:
# Extract column from DataFrame
col = tweets['lang']

In [12]:
col

0     en
1     en
2     et
3     en
4     en
      ..
95    en
96    en
97    en
98    en
99    en
Name: lang, Length: 100, dtype: object

In [13]:
# Iterate through lang column 
for entry in col:
    # if the language is in langs_count, add 1 
    if entry in langs_count.keys():
        langs_count[entry] = langs_count[entry] + 1
    else:
        langs_count[entry] = 1

print(langs_count)

{'en': 97, 'et': 1, 'und': 2}

In [38]:
tweets['lang'].value_counts()

en     97
und     2
et      1
Name: lang, dtype: int64

* In this exercise, you will define a function with the functionality you developed in the previous exercise, return the resulting dictionary from within the function, and call the function with the appropriate arguments.

In [14]:
def count_entries(df, col_name):
    """ Return a dictionary with counts of occurances as values for each key"""
    languages_count = {}

    col = df[col_name]

    for entry in col:
        if entry in languages_count.keys():
            languages_count[entry] = languages_count[entry] + 1
        else:
            languages_count[entry] = 1
    
    return languages_count

results = count_entries(tweets, 'lang')
print(results)

{'en': 97, 'et': 1, 'und': 2}

# Scope and User-defined functions

* Scope: part of the program where an object or name may be accessible 
    * Global Scope: defined in the main body of a script
    * Local Scope: defined inside a function
    * Built-in-Scope: names in the pre-defined built-ins module

# Nested Functions

In [15]:
def square_nums_times_ten(x1,x2,x3):
    '''squares and multiplies by 10 given parameters'''
    def inner(x):
        """ performs calculations for square x * 10 """
        var_inner = x ** 2 * 10 
        return var_inner
        
    ans = (inner(x1), inner(x2), inner(x3))
    return ans

variable = square_nums_times_ten(2,3,4)
print(variable)

(40, 90, 160)

In [16]:
# Define echo
def echo(n):
    """Return the inner_echo function."""

    # Define inner_echo
    def inner_echo(word1):
        """Concatenate n copies of word1."""
        echo_word = word1 * n
        return echo_word

    # Return inner_echo
    return inner_echo

# Call echo: twice
twice = echo(2)

# Call echo: thrice
thrice = echo(3)

# Call twice() and thrice() then print
print(twice('hello'), thrice('hello'))

hellohello hellohellohello

# Default and Felxible Arguments

## Functions with default arguments

In [17]:
def power_number(number, pow=1):
    """Raise number to the power of pow"""
    var = number ** pow
    return var 

answer = power_number(5,2)
print(answer)

25

## Function with flexible arguments

* used when not sure how many arguments user will input

In [18]:
def add_all(*args): # note, all arguements entered are turned into a tuple
    """add upp all arguemnts"""

    # initialize sum
    sum = 0

    # accumulate sum of arguments passed to function
    for i in args:
        sum += i
    
    return sum 

var = add_all(2,2,2,2,2)
print(var)

10

## Function with keyword arguments

* kwargs are key-word arguements; arguments proceded by identifiers

In [19]:
def print_all(**kwargs): # key-word pairs are stored as dictionaries 
    """print out  key-value pairs in kwargs"""

    for key, value in kwargs.items():
        print(key + ' : ' + value)


print_all(first='jose', last='servin')

first : jose
last : servin

# Twitter Data Analysis Part 2: Generalize Function

## Task 1: Assigning a default value to col_name argument

In [20]:
def count_entries(df, col_name='lang'):
    """ Return a dictionary with counts of occurances as values for each key"""
    languages_count = {}

    col = df[col_name]

    for entry in col:
        if entry in languages_count.keys():
            languages_count[entry] = languages_count[entry] + 1
        else:
            languages_count[entry] = 1
    
    return languages_count

results_1 = count_entries(tweets, 'lang')
results_2 = count_entries(tweets, 'source')
print(results_1)
print(results_2)

{'en': 97, 'et': 1, 'und': 2}
{'<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>': 24, '<a href="http://www.facebook.com/twitter" rel="nofollow">Facebook</a>': 1, '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>': 26, '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>': 33, '<a href="http://www.twitter.com" rel="nofollow">Twitter for BlackBerry</a>': 2, '<a href="http://www.google.com/" rel="nofollow">Google</a>': 2, '<a href="http://twitter.com/#!/download/ipad" rel="nofollow">Twitter for iPad</a>': 6, '<a href="http://linkis.com" rel="nofollow">Linkis.com</a>': 2, '<a href="http://rutracker.org/forum/viewforum.php?f=93" rel="nofollow">newzlasz</a>': 2, '<a href="http://ifttt.com" rel="nofollow">IFTTT</a>': 1, '<a href="http://www.myplume.com/" rel="nofollow">Plume\xa0for\xa0Android</a>': 1}

## Task 2: Generalize col_name to accept any amount of columns given

In [21]:
def count_entries(df, *args): #accepts any amount of col names and stores in list
    """ Return a dictionary with counts of occurances as values for each key"""
    languages_count = {}

# iterate through args lists (added step)
    for column in args:
        col = df[column] # define temp column

        for entry in col: # iterate through temp column 
            if entry in languages_count.keys():
                languages_count[entry] = languages_count[entry] + 1
            else:
                languages_count[entry] = 1
    
    return languages_count

results_1 = count_entries(tweets, 'lang', 'source')
print(results_1)

{'en': 97, 'et': 1, 'und': 2, '<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>': 24, '<a href="http://www.facebook.com/twitter" rel="nofollow">Facebook</a>': 1, '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>': 26, '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>': 33, '<a href="http://www.twitter.com" rel="nofollow">Twitter for BlackBerry</a>': 2, '<a href="http://www.google.com/" rel="nofollow">Google</a>': 2, '<a href="http://twitter.com/#!/download/ipad" rel="nofollow">Twitter for iPad</a>': 6, '<a href="http://linkis.com" rel="nofollow">Linkis.com</a>': 2, '<a href="http://rutracker.org/forum/viewforum.php?f=93" rel="nofollow">newzlasz</a>': 2, '<a href="http://ifttt.com" rel="nofollow">IFTTT</a>': 1, '<a href="http://www.myplume.com/" rel="nofollow">Plume\xa0for\xa0Android</a>': 1}

# Lambda Function

In [22]:
raise_to_power = lambda x,y : x**y
raise_to_power(4,2)

16

## Anonymous Functions

* map() applies the function to ALL elements in the sequence

In [23]:
nums = [1,2,3,4,]

square_all = map(lambda x: x**2, nums)

print(square_all) # map saves results in an map object
print(list(square_all))

<map object at 0x7fd349e45820>
[1, 4, 9, 16]

## Filter function with lambda

In [24]:
words = ['Baker','Camila','Bella','Claudia','Melissa','Mayra','Cat']

results = filter(lambda x: len(x) <= 3, words)

results_list = list(results)
print(results_list)

['Cat']

## reduce function with lambda

* The reduce() function is useful for performing some computation on a list and, unlike map() and filter(), returns a single value as a result.

In [25]:
from functools import reduce

In [26]:
words = ['Baker','Camila','Bella','Claudia','Melissa','Mayra','Cat']

results = reduce(lambda word1, word2: word1 + word2, words)
print(results)

BakerCamilaBellaClaudiaMelissaMayraCat

# Introduction to error handling

* exceptions - errors caught during execution
* handled with try-except clause

In [27]:
def square_num (x):
    """Simple function that squares the given input value"""
    try:
        return x ** 2
    except:
        print('Please enter either a integer or float')


ans = square_num(4)
print(ans)

ans_1 = square_num('hello')

16
Please enter either a integer or float

## catching only certain errors

In [28]:
def square_num (x):
    """Simple function that squares the given input value"""
    try:
        return x ** 2
    except TypeError:
        print('Please enter either a integer or float')


ans = square_num('howdy')
ans_2 = square_num(5)
print(ans_2)

Please enter either a integer or float
25

## raising an error

In [29]:
def square_num (x):
    """Simple function that squares the given input value"""
    if x < 0:
        raise ValueError('x must be non-negative')
    try:
        return x ** 2
    except TypeError:
        print('Please enter either a integer or float')

ans = square_num(2)
print(ans)

4

# Twitter Data Analysis Part 3

* write a lambda function and use filter() to select retweets, that is, tweets that begin with the string 'RT'.
* column searched is tweets['text']

In [30]:
results = filter(lambda x: x[0:2] == 'RT', tweets['text']) # results are stored in object 

results_list = list(results)
for rt in results_list:
    print(rt)

RT @bpolitics: .@krollbondrating's Christopher Whalen says Clinton is the weakest Dem candidate in 50 years https://t.co/pLk7rvoRSn https:/…
RT @HeidiAlpine: @dmartosko Cruz video found.....racing from the scene.... #cruzsexscandal https://t.co/zuAPZfQDk3
RT @AlanLohner: The anti-American D.C. elites despise Trump for his America-first foreign policy. Trump threatens their gravy train. https:…
RT @BIackPplTweets: Young Donald trump meets his neighbor  https://t.co/RFlu17Z1eE
RT @trumpresearch: @WaitingInBagdad @thehill Trump supporters have selective amnisia.
RT @HouseCracka: 29,000+ PEOPLE WATCHING TRUMP LIVE ON ONE STREAM!!!

https://t.co/7QCFz9ehNe
RT @urfavandtrump: RT for Brendon Urie
Fav for Donald Trump https://t.co/PZ5vS94lOg
RT @trapgrampa: This is how I see #Trump every time he speaks. https://t.co/fYSiHNS0nT
RT @trumpresearch: @WaitingInBagdad @thehill Trump supporters have selective amnisia.
RT @Pjw20161951: NO KIDDING: #SleazyDonald just attacked Scott Walker for NOT RAISING TAXES in WI! #LyinTrump
#NeverTrump  #CruzCrew  https…
RT @urfavandtrump: RT for Brendon Urie
Fav for Donald Trump https://t.co/PZ5vS94lOg
RT @ggreenwald: The media spent all day claiming @SusanSarandon said she might vote for Trump. A total fabrication, but whatever... https:/…
RT @Pjw20161951: NO KIDDING: #SleazyDonald just attacked Scott Walker for NOT RAISING TAXES in WI! #LyinTrump
#NeverTrump  #CruzCrew  https…
RT @trapgrampa: This is how I see #Trump every time he speaks. https://t.co/fYSiHNS0nT
RT @mitchellvii: So let me get this straight.  Any reporter can assault Mr Trump at any time and Corey can do nothing?  Michelle is clearly…
RT @paulbenedict7: How #Trump Sacks RINO Strongholds by Hitting Positions Held by Dems and GOP https://t.co/D7ulnAJhis   #tcot #PJNET https…
RT @DRUDGE_REPORT: VIDEO:  Trump emotional moment with Former Miss Wisconsin who has terminal illness... https://t.co/qt06aG9inT
RT @ggreenwald: The media spent all day claiming @SusanSarandon said she might vote for Trump. A total fabrication, but whatever... https:/…
RT @DennisApgar: Thank God I seen Trump at first stop in Wisconsin media doesn't know how great he is, advice watch live streaming https://…
RT @paulbenedict7: How #Trump Sacks RINO Strongholds by Hitting Positions Held by Dems and GOP https://t.co/D7ulnAJhis   #tcot #PJNET https…
RT @DRUDGE_REPORT: VIDEO:  Trump emotional moment with Former Miss Wisconsin who has terminal illness... https://t.co/qt06aG9inT
RT @DennisApgar: Thank God I seen Trump at first stop in Wisconsin media doesn't know how great he is, advice watch live streaming https://…
RT @mitchellvii: So let me get this straight.  Any reporter can assault Mr Trump at any time and Corey can do nothing?  Michelle is clearly…
RT @sciam: Trump's idiosyncratic patterns of speech are why people tend either to love or hate him https://t.co/QXwquVgs3c https://t.co/P9N…
RT @Norsu2: Nightmare WI poll for Ted Cruz has Kasich surging: Trump 29, Kasich 27, Cruz 25. https://t.co/lJsgbLYY1P #NeverTrump
RT @thehill: WATCH: Protester pepper-sprayed point blank at Trump rally https://t.co/B5f65Al9ld https://t.co/skAfByXuQc
RT @sciam: Trump's idiosyncratic patterns of speech are why people tend either to love or hate him https://t.co/QXwquVgs3c https://t.co/P9N…
RT @ggreenwald: The media spent all day claiming @SusanSarandon said she might vote for Trump. A total fabrication, but whatever... https:/…
RT @DebbieStout5: Wow! Last I checked it was just 12 points &amp; that wasn't more than a day ago. Oh boy Trump ppl might want to rethink🤔 http…
RT @tyleroakley: i'm a messy bitch, but at least i'm not voting for trump
RT @vandives: Trump supporters r tired of justice NOT being served. There's no justice anymore. Hardworking Americans get screwed. That's n…
RT @AP: BREAKING: Trump vows to stand by campaign manager charged with battery, says he does not discard people.
RT @AP: BREAKING: Trump vows to stand by campaign manager charged with battery, says he does not discard people.
RT @urfavandtrump: RT for Jerrie (Little Mix)
Fav for Donald Trump https://t.co/nEVxElW6iG
RT @urfavandtrump: RT for Jerrie (Little Mix)
Fav for Donald Trump https://t.co/nEVxElW6iG
RT @NoahCRothman: When Walker was fighting for reforms, Trump was defending unions and collective bargaining privileges https://t.co/e1UWNN…
RT @RedheadAndRight: Report: Secret Service Says Michelle Fields Touched Trump https://t.co/c5c2sD8VO2

This is the only article you will n…
RT @AIIAmericanGirI: VIDEO=&gt; Anti-Trump Protester SLUGS Elderly Trump Supporter in the Face
https://t.co/GeEryMDuDY
RT @NoahCRothman: When Walker was fighting for reforms, Trump was defending unions and collective bargaining privileges https://t.co/e1UWNN…
RT @JusticeRanger1: @realDonaldTrump @Pudingtane @DanScavino @GOP @infowars @EricTrump
URGENT PUBLIC TRUMP ALERT:
COVERT KILL MEANS https:…
RT @AIIAmericanGirI: VIDEO=&gt; Anti-Trump Protester SLUGS Elderly Trump Supporter in the Face
https://t.co/GeEryMDuDY
RT @RedheadAndRight: Report: Secret Service Says Michelle Fields Touched Trump https://t.co/c5c2sD8VO2

This is the only article you will n…
RT @JusticeRanger1: @realDonaldTrump @Pudingtane @DanScavino @GOP @infowars @EricTrump
URGENT PUBLIC TRUMP ALERT:
COVERT KILL MEANS https:…
RT @Schneider_CM: Trump says nobody had ever heard of executive orders before Obama started signing them. Never heard of the Emancipation P…
RT @RonBasler1: @DavidWhitDennis @realDonaldTrump @tedcruz

CRUZ SCREWS HOOKERS

CRUZ / CLINTON
RT @DonaldsAngel: Former Ms. WI just said that she is terminally ill but because of Trump pageant, her 7 yr. old son has his college educat…
RT @Schneider_CM: Trump says nobody had ever heard of executive orders before Obama started signing them. Never heard of the Emancipation P…
RT @DonaldsAngel: Former Ms. WI just said that she is terminally ill but because of Trump pageant, her 7 yr. old son has his college educat…
RT @Dodarey: @DR8801 @SykesCharlie Charlie, let's see you get a straight "yes" or "no" answer from Cruz a/b being unfaithful to his wife @T…
RT @RonBasler1: @DavidWhitDennis @realDonaldTrump @tedcruz

CRUZ SCREWS HOOKERS

CRUZ / CLINTON
RT @RockCliffOne: Remember when the idea of a diabolical moron holding the world hostage was an idea for a funny movie? #Trump #GOP https:/…
RT @HillaryClinton: "Every day, another Republican bemoans the rise of Donald Trump... but [he] didn’t come out of nowhere." —Hillary
https…
RT @Dodarey: @DR8801 @SykesCharlie Charlie, let's see you get a straight "yes" or "no" answer from Cruz a/b being unfaithful to his wife @T…
RT @HillaryClinton: "Every day, another Republican bemoans the rise of Donald Trump... but [he] didn’t come out of nowhere." —Hillary
https…
RT @RockCliffOne: Remember when the idea of a diabolical moron holding the world hostage was an idea for a funny movie? #Trump #GOP https:/…
RT @immigrant4trump: @immigrant4trump msm, cable news attacking trump all day, from 8am to 10pm today, then the reruns come on, repeating t…
RT @immigrant4trump: @immigrant4trump msm, cable news attacking trump all day, from 8am to 10pm today, then the reruns come on, repeating t…
RT @GlendaJazzey: Donald Trump’s Campaign Financing Dodge, @rrotunda https://t.co/L8flI4lswG via @VerdictJustia
RT @TUSK81: LOUDER FOR THE PEOPLE IN THE BACK https://t.co/hlPVyNLXzx
RT @loopzoop: Well...put it back https://t.co/8Yb7BDT5VM
RT @claytoncubitt: Stop asking Bernie supporters if they’ll vote for Hillary against Trump. We got a plan to beat Trump already. Called Ber…
RT @akaMaude13: Seriously can't make this up. What a joke. #NeverTrump  https://t.co/JkTx6mdRgC

* provide a helpful message when the user calls your count_entries() function but provides a column name that isn't in the DataFrame.

In [31]:
def count_entries(df, col_name='lang'):
    """ Return a dictionary with counts of occurances as values for each key"""
    languages_count = {}
    try:

        col = df[col_name]

        for entry in col:
            if entry in languages_count.keys():
                languages_count[entry] = languages_count[entry] + 1
            else:
                languages_count[entry] = 1
    
        return languages_count
    except:
        print('The DF does not have a ' + col_name + ' column.')

results_1 = count_entries(tweets, 'lang')
print(results_1)

{'en': 97, 'et': 1, 'und': 2}

* raise a ValueError in the case that the user provides a column name that isn't in the DataFrame.

In [32]:
def count_entries (df, col_name = 'lang'):
    """Returns a dictionary with counts of occurances as values for each key"""
    if col_name not in df.columns:
        raise ValueError('The DataFrame does not have a ' + col_name + ' column.')
    language_dictionary = {}

    col = df[col_name]

    for entry in col:
        if entry in language_dictionary.keys():
            language_dictionary[entry] += 1
        else:
            language_dictionary[entry] = 1
        
    return language_dictionary

variable = count_entries(tweets, 'lang')
#variable = count_entries(tweets, 'jose') (PRODUCES ERROR)

print(variable)

{'en': 97, 'et': 1, 'und': 2}