# Count the number of unique values in a certain column of a DF using a function

In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('/Users/joseservin/DataCamp/Courses/Intro_Matplotlib/seattle_weather.csv')

In [23]:
def col_count(df, col_name):
    """Return a dictionary with counts of unique entries in a column"""
    col_name = str.upper(col_name)

    if col_name not in df.columns:
        raise ValueError (col_name + " is not in the DataFrame")

    count_dict = {}

    temp_col = df[col_name]
    for entry in temp_col:
        if entry in count_dict.keys():
            count_dict[entry] += 1 
        else:
            count_dict[entry] = 1 
    return count_dict

In [24]:
return_var = col_count(df, 'Station')

In [25]:
return_var

{'USC00456295': 12,
 'USW00024222': 12,
 'USW00024233': 12,
 'USC00458278': 12,
 'USW00094274': 12,
 'USC00459021': 12,
 'USW00094290': 12,
 'USW00024234': 12,
 'USC00458508': 12,
 'USC00454486': 12,
 'USW00094248': 12,
 'USC00451233': 12,
 'USC00452675': 12,
 'USC00455525': 12,
 'USC00457773': 12,
 'USC00450872': 12,
 'USC00454169': 12}

In [26]:
sum = 0 
for value in return_var.values():
    sum += value 
print(sum)

204

In [30]:
return_var_df = pd.DataFrame(return_var.items(), columns=['Location','Count'])

In [31]:
return_var_df

       Location  Count
0   USC00456295     12
1   USW00024222     12
2   USW00024233     12
3   USC00458278     12
4   USW00094274     12
5   USC00459021     12
6   USW00094290     12
7   USW00024234     12
8   USC00458508     12
9   USC00454486     12
10  USW00094248     12
11  USC00451233     12
12  USC00452675     12
13  USC00455525     12
14  USC00457773     12
15  USC00450872     12
16  USC00454169     12