In [20]:
import pandas as pd

# Introduction to Iterators

* Iterables is an object that has an associated iter() method.
* Iterator is an object that has an associated next() method. 
* create an iterator from an iterable using the iter() function

Summary
* An iterable is an object that can return an iterator 
* An iterator is an object that keeps state and produces the next value when you call next()

In [7]:
phrase = 'Howdy my name is Servin'
variable = iter(phrase)

next(variable)
next(variable)
next(variable)
print(* variable)

d y   m y   n a m e   i s   S e r v i n

## Iterating through Dictionaries

In [11]:
info = {
    'first_name':'Jose',
    'last_name':'Servin',
    'age':25,
    'Goal':'Become a Full Data Scientist/Analyst in 2022'
}

for key, value in info.items():
    print('The attribute is: ' + key)
    print('The value is: ' + str(value))

The attribute is: first_name
The value is: Jose
The attribute is: last_name
The value is: Servin
The attribute is: age
The value is: 25
The attribute is: Goal
The value is: Become a Full Data Scientist/Analyst in 2022

# Enumerate Function

* allows us to add a counter to any iterable

In [16]:
names = ['Baker','Bella','Camila','Claudia','Mayra','Melissa']

for index, value in enumerate(names):
    print(index, value)

0 Baker
1 Bella
2 Camila
3 Claudia
4 Mayra
5 Melissa

In [17]:
names = ['Baker','Bella','Camila','Claudia','Mayra','Melissa']

for index, value in enumerate(names, start=1):
    print(index, value)

1 Baker
2 Bella
3 Camila
4 Claudia
5 Mayra
6 Melissa

## using enumerate

In [19]:
# Create a list of strings: mutants
mutants = ['charles xavier', 
            'bobby drake', 
            'kurt wagner', 
            'max eisenhardt', 
            'kitty pryde']

# Create a list of tuples: mutant_list
mutant_list = list(enumerate(mutants))

# Print the list of tuples
print(mutant_list)

# Unpack and print the tuple pairs
for index1, value1 in enumerate(mutants):
    print(index1, value1)

# Change the start index
for index1, value1 in enumerate(mutants, start=1):
    print(index1, value1)

[(0, 'charles xavier'), (1, 'bobby drake'), (2, 'kurt wagner'), (3, 'max eisenhardt'), (4, 'kitty pryde')]
0 charles xavier
1 bobby drake
2 kurt wagner
3 max eisenhardt
4 kitty pryde
1 charles xavier
2 bobby drake
3 kurt wagner
4 max eisenhardt
5 kitty pryde

# zip function

* allows us to stitch together any number of iterables 
* accepts an arbitrary number of iterables and returns an iterator of tuples

In [18]:
breeds = ['dog','dog','cat','dog']
names = ['Baker','Lilo','Bella','Camila']

for z1, z2 in zip(names, breeds):
    print(z1, z2)

Baker dog
Lilo dog
Bella cat
Camila dog

# Using iterators to load large files into memory

## load data in chunks using an iterator

In [27]:
seattle_data = pd.read_csv('/Users/joseservin/DataCamp/Courses/Intro_Matplotlib/seattle_weather.csv')

In [28]:
total_avg_temps = seattle_data['MLY-TAVG-NORMAL'].mean()
print(total_avg_temps)

51.63444444444445

In [39]:
seattle_data['MLY-TAVG-NORMAL'].isna().sum()

24

In [35]:
# load the seattle_data in chunks of 12 taking an avg of MLY-TAVG-NORMAL
sum_avg_temps = []

for temp_df in pd.read_csv('/Users/joseservin/DataCamp/Courses/Intro_Matplotlib/seattle_weather.csv', chunksize=12):
    avg_temp = sum(temp_df['MLY-TAVG-NORMAL'])
    sum_avg_temps.append(avg_temp)
        
print(sum(sum_avg_temps))

nan