# Subject: Joining Data

## Jose Servin

### Data used: https://www.chicago.gov/city/en/depts/other/dataset/wards.html

In [71]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px

# Importing data and DF definition

In [72]:
wards = pd.read_csv('/Users/joseservin/DataCamp/Courses/Ward_Offices.csv')
wards = wards[['WARD', 'ALDERMAN', 'ADDRESS','ZIPCODE']].copy()
wards.columns = [x.lower() for x in wards.columns]
wards.head()

,ward,alderman,address,zipcode
0,33,"Rodriguez Sanchez, Rossana",3001 West Irving Park Road,60618
1,17,"Moore, David H.",1344 West 79th Street,60636
2,44,"Tunney, Thomas","3223 North Sheffield Avenue, Suite A",60657
3,37,"Mitts, Emma",5344 West North Avenue,60651
4,4,"King, Sophia D.",435 East 35th Street,60616

In [73]:
wards.dtypes

ward         int64
alderman    object
address     object
zipcode      int64
dtype: object

In [74]:
census = pd.read_csv('/Users/joseservin/DataCamp/Courses/ward_population.csv')
census.head()

   ward pop_2010 pop_2016 pct_change                      address  zip_code
0     1   56,149   56,661         1%  1958 North Milwaukee Avenue     60647
1     2   55,805   57,705         3%    1400 North Ashland Avenue     60622
2     3   53,039   55,763         5%      5046 South State Street     60609
3     4   54,589   57,301         5%         435 East 35th Street     60616
4     5   51,455   52,073         1%        2325 East 71st Street     60649

In [75]:
census.dtypes

ward           int64
pop_2010      object
pop_2016      object
pct_change    object
address       object
zip_code       int64
dtype: object

In [76]:
census['ward'] = census['ward'].astype(int)

In [77]:
census.dtypes

ward           int64
pop_2010      object
pop_2016      object
pct_change    object
address       object
zip_code       int64
dtype: object

In [78]:
census['pop_2010'] = census['pop_2010'].apply(lambda x: int(x.split()[0].replace(',', '')))

In [79]:
census.dtypes

ward           int64
pop_2010       int64
pop_2016      object
pct_change    object
address       object
zip_code       int64
dtype: object

In [80]:
census['pop_2016'] = census['pop_2016'].apply(lambda x: int(x.split()[0].replace(',', '')))

In [81]:
census.dtypes

ward           int64
pop_2010       int64
pop_2016       int64
pct_change    object
address       object
zip_code       int64
dtype: object

In [82]:
census['pct_change'] = census['pct_change'].str.rstrip('%').astype('float') / 100.0

In [86]:
census.dtypes

ward            int64
pop_2010        int64
pop_2016        int64
pct_change    float64
address        object
zip_code        int64
dtype: object

In [84]:
census.head()

   ward  pop_2010  pop_2016  pct_change                      address  zip_code
0     1     56149     56661        0.01  1958 North Milwaukee Avenue     60647
1     2     55805     57705        0.03    1400 North Ashland Avenue     60622
2     3     53039     55763        0.05      5046 South State Street     60609
3     4     54589     57301        0.05         435 East 35th Street     60616
4     5     51455     52073        0.01        2325 East 71st Street     60649

In [87]:
wards.dtypes

ward         int64
alderman    object
address     object
zipcode      int64
dtype: object

In [85]:
wards.head()

,ward,alderman,address,zipcode
0,33,"Rodriguez Sanchez, Rossana",3001 West Irving Park Road,60618
1,17,"Moore, David H.",1344 West 79th Street,60636
2,44,"Tunney, Thomas","3223 North Sheffield Avenue, Suite A",60657
3,37,"Mitts, Emma",5344 West North Avenue,60651
4,4,"King, Sophia D.",435 East 35th Street,60616